<html>
    <body>
        <div><h2>Postal Calculator</h2></div>
        <div>
            Type: <select id="type">
<%  for ( var i = 0; i < types.length; i++ ){ %>
                <option value="<%=types[i]%>"><%=types[i]%></option>
<%  }  %>
            </select><br>
            Weight: <input type="number" id="weight"><br><br>
            <button onclick="getCost();">Get Cost</button><br><br>
            <span id="cost"></span>
        </div>
        <script type="text/javascript">
            function getCost() {
                var typeSel = document.getElementById('type');
                var type = typeSel.options[typeSel.selectedIndex].value;
                var weight = document.getElementById('weight').value;
                var xhr = new XMLHttpRequest();
                xhr.open('GET', 'cost?type=' + type + "&weight=" + weight);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        var resp = JSON.parse(xhr.responseText);
                        var span = document.getElementById('cost');
                        span.textContent = "Cost: " + resp.total;
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }
        </script>
    </body>    
</html>
